/* 右侧内容-添加云主机 */
.add-host{
    width: 950px;
    height: 380px;
    background: #fff;

    position: relative;
    bottom: 350px;
    left: 300px;
}
.add-host .add-title{
    color: rgb(69, 197, 210);
    font-size: 20px;
    padding-top:10px;
    padding-left: 10px;
}
.add-host .add-title .line{
    width: 900px;
    margin-top: 10px;
    border-top: 1px solid lightgray;
}
/* 表单 */
.add-host .form-div{
    margin-top: 10px;
}
.add-host .form-div input{
    width: 300px;
}