{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ERU-Manager | 登录</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="container">
        <div class="form-box">
            <form class="login-form" method="POST">
                {% csrf_token %}
                <p class="title-login">管理员登录</p>
                <div class="username_input">
                    <input type="text" placeholder="" name="name">
                </div>
                <div class="passwd_input">
                    <input type="password" placeholder="" name="password">
                </div>
                <!-- 判断用户名、密码是否错误 -->
                {% if error %}
                <span style="color: red">{{ error }}</span>
                {% endif %}
                <p class="form-account"><span class="form-noaccount">没有账号?&nbsp;</span><a href="{% url 'register' %}">注册</a></p>
                <div class="login-btn">
                    <button class="btn btn-info" id="login-btn" type="submit">登录</button>
                </div>
            </form>
        </div>

    </div>
    <p class="footer">&copy;All Rights Reserved. <a href="http://erudev.github.io/">EruDev</a></p>
</body>
</html>